.todo-input {
  display: flex;
  > input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    padding: 15px;
    color: thistle;
    &::placeholder {
      color: thistle;
    }
  }
  > button {
    display: flex;
    background: thistle;
    color: #fff;
    padding: 15px;
    align-items: center;
    cursor: pointer;
  }
}