.todo-list-wrap {
  padding: 20px 10px;
  border-top: 1px solid thistle;
  > h2 {
    position: relative;
    display: inline-block;
    padding-right: 23px;
    color: #563d7c;
    font-size: 16px;
    svg {
      position: absolute;
      top: -2px;
      right: 0;
      width: 20px;
      height: 20px;
    }
  }
  ul {
    margin-top: 12px;
  }
}