li {
  display: flex;
  color: #563d7c;
  align-items: center;
  vertical-align: middle;
  > span {
    flex: 1;
    position: relative;
    display: inline-block;
    padding-left: 23px;
    > svg {
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      color: #563d7c;
    }
    > em {
      display: inline-block;
      margin-top: 1px;
      font-size: 14px;
    }
  }
  > button {
    display: inline-block;
    padding: 2px 3px;
    border-radius: 4px;
    background: #563d7c;
    color: #fff;
    font-size: 12px;
  }
  &+li {
    padding-top: 10px;
  }
}